
.recipe-card {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
    width: 300px;
    transition: transform 0.3s ease;
}

.recipe-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.recipe-card img {
    width: 100%;
    height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    object-fit: cover;
}

/* .recipe-card h2, .recipe-card p {
    padding: 10px 15px;
    color: aqua;
} */

.recipe-card h3 {
    margin: 0;
    padding: 10px;
    font-size: 20px;
    background-color: #f4f4f4;
    color: #333;
}

.recipe-card p {
    padding: 0 10px;
    font-size: 16px;
}

.button {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: calc(100% - 30px);
    margin: 0 15px 15px;
    text-align: center;
}

.button:hover {
    background-color: #0056b3;
}

.recipes-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}
